In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

wk=pd.read_excel("RAN_Compare_kq701623_11_30_2018_10_22_55.xlsx",sheet_name=[0,1])

a=wk[0]
figure=(10,7)
#a['Drop Rate - Total Voice (%)'].plot(kind='bar')
#a.head()
#a['Drop Rate - Total Voice (%)']>a['Drop Rate - Total Voice (%)'].mean()
#for i in len(a['Drop Rate - Total Voice (%)'])
#print (a['Drop Rate - Total Voice (%)']>1).val
a.describe()

       Drop Rate - Total Voice (%)  Total Block Rate - Voice (%)
count                   683.000000                    682.000000
mean                      0.548082                      0.572757
std                       0.252034                      0.320748
min                       0.160000                      0.000000
25%                       0.380000                      0.380000
50%                       0.460000                      0.450000
75%                       0.600000                      0.640000
max                       1.850000                      3.030000